<!DOCTYPE html>
<html lang="en">
<head>

    <!--TODO - Add subdomain for projects and them on projects page-->
    <!--TODO - don't forget to update the projects links/names in the html actionlink once those are ready-->
    <!--TODO - There's an error on my Projects page that will not disappear...affecting my layout? Supposed to be horizontal, not vertical-->


    <meta charset="utf-8">
    <title>daniellethedev</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="personal portfolio" name="keywords">
    <meta content="daniellethedev - Portfolio and Resume" name="description">


    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Lato:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">


    <link rel="shortcut icon" type="image/jpg" href="~/Content/favicon.ico" />

    <!-- Bootstrap CSS File -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4263a2b62a.js" crossorigin="anonymous"></script>
    <link href="~/Content/prettyphoto.css" rel="stylesheet" />
    <link href="~/Content/hoverex-all.css" rel="stylesheet" />

    <!--jQuery accordion style-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet" />


    <!-- =======================================================
      Template Name: Solid
      Template URL: https://templatemag.com/solid-bootstrap-business-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body class="aboutme">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://daniellethedev.com">DANIELLETHEDEV</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                    <li><a href="@Url.Action("Resume", "Home")">RESUME</a></li>
                    <li><a href="@Url.Action("Projects", "Home")">PROJECTS</a></li>
                    <li><a href="@Url.Action("Links", "Home")">LINKS</a></li>
                    <li><a href="@Url.Action("Contact", "Email", "Email")">CONTACT</a></li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    @RenderBody()

    <div id="copyrights">
        <div class="container">
            <a href="#">Back to Top</a>
            <p>
                &copy; Danielle Smalley 2021
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/solid-bootstrap-business-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Solid template by <a href="https://templatemag.com/">TemplateMag</a>, converted to MVC and styled by Danielle Smalley
            </div>
        </div>
    </div>
    <!-- / copyrights -->
    <!-- Template Main Javascript File -->
    @*<script src="~/Scripts/js/jquery.min.js"></script>*@
    @*<script src="~/Content/Scripts/bootstrap.min.js"></script>*@




    <!-- JavaScript Libraries -->
    <script src="~/Content/Scripts/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/isotope.min.js"></script>
    <script src="~/Content/Scripts/validate.js"></script>
    <script src="~/Content/Scripts/prettyphoto.js"></script>
    <script src="~/Content/Scripts/hoverdir.js"></script>
    <script src="~/Content/Scripts/hoverex.min.js"></script>
    <script src="~/Content/Scripts/main.js"></script>

    @RenderSection("scripts", required: false)





    <!-- Custom Script to highlight the selected navigation -->
    <script>
        $(function () {
            $('div.navbar-collapse ul.nav li').each(
                function () {
                    if ($(this).find('a').attr('href') == window.location.pathname) {
                        $(this).addClass("active");
                    }
                }
            )
        });
    </script>

    <script>
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content"
            });
        });
    </script>
</body>
</html>



