@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h2>This page will be updated as projects are completed, so check back soon!</h2>
            <h2>Below is a showcase of my recent portfolio projects:</h2>
            <br>
            <div class="hline"></div>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <div class="col-md-6 col-md-offset-3">
        <div class="portfolio-centered">
            <div class="recentitems portfolio">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/Content/img/project1_288x288.jpg" width="300" data-rel="prettyPhoto" alt="Image of portfolio piece number 1 with link to more details">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">Educational Business Site</h3>
                                <a class="dmbutton a2" data-animate="fadeInUp" href="http://mealmagicacademy.daniellethedev.com" target="_blank"> See Site</a>
                                <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("EducationalSite", "Projects")">Project Details</a>
                            </div>
                            <!-- he bg -->
                        </div>
                        <!-- he view -->
                    </div>
                    <!-- he wrap -->
                </div>
            </div>
            <!-- end col-12 -->
            <br />
            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/dungeon.jpg" height="600" width="400" data-rel="prettyPhoto" alt="Image of portfolio piece number 2 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Dungeon Crawler</h3>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("DungeonCrawler", "Projects")">Project Details</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
            <br />
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/capture.jpg" alt="Image of portfolio piece number 3 with link to more details" height="700" width="400">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">StoreFront App</h3>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="http://meowmart.daniellethedev.com" target="_blank"> See Site</a>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("StoreFront", "Projects")">Project Details</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
            <br />
            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="~/Content/logo-og.png" height="500" width="400" alt="Image of portfolio piece number 4 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">WishList App</h3>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="http://wishlist.daniellethedev.com" target="_blank"> See Site</a>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("WishList", "Projects")">Project Details</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
            <br />
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/groupproject1.jpg" height="500" width="400" alt="Image of portfolio piece number 5 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Scheduling Admin Tool - Group Project</h3>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="http://scheduling.daniellethedev.com" target="_blank"> See Site</a>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("Scheduling", "Projects")">Project Details</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
            <br />

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/final1.png" height="600" width="400" alt="Image of portfolio piece number 6 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Final Project - Coming Soon</h3>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="http://lms.daniellethedev.com" target="_blank"> See Site</a>
                            <a class="dmbutton a2" data-animate="fadeInUp" href="@Url.Action("FinalProject", "Projects")">Project Details</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->
            <br />

        </div>
        <!-- portfolio -->
    </div>
    <!-- portfolio container -->
    <div class="clear"></div>
</div>
