@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h2>COMING SOON!</h2>
            <h2>Below is a showcase of my recent portfolio projects:</h2>
            <br>
            <div class="hline"></div>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <div class="portfolio-centered">
        <div class="recentitems portfolio">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/project1_288x288.jpg" height="304" width="304" data-rel="prettyPhoto" alt="Image of portfolio piece number 1 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Educational Business Site</h3>
                        <!--    <a class="dmbutton a2" data-animate="fadeInUp" @*@Html.ActionLink(link to subdomain here)*@><i class="fa fa-search"></i></a> -->
                            <a class="dmbutton a2" data-animate="fadeInUp" @Html.ActionLink("Project Details", "EducationalSite", "Projects")</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item web-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/dungeon.jpg" height="304" width="304" data-rel="prettyPhoto" alt="Image of portfolio piece number 2 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Dungeon Crawler</h3>
                            <!--    <a class="dmbutton a2" data-animate="fadeInUp" @*@Html.ActionLink(link to subdomain here)*@><i class="fa fa-search"></i></a> -->
                            <a class="dmbutton a2" data-animate="fadeInUp" @Html.ActionLink("Project Details", "DungeonCrawler", "Projects")</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/image-placeholder-500x500.jpg" alt="Image of portfolio piece number 3 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">StoreFront App</h3>
                            <!--    <a class="dmbutton a2" data-animate="fadeInUp" @*@Html.ActionLink(link to subdomain here)*@><i class="fa fa-search"></i></a> -->
                            <a class="dmbutton a2" data-animate="fadeInUp" @Html.ActionLink("Project Details", "DungeonCrawler", "Projects")</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/image-placeholder-500x500.jpg" alt="Image of portfolio piece number 4 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Scheduling Admin Tool</h3>
                            <!--    <a class="dmbutton a2" data-animate="fadeInUp" @*@Html.ActionLink(link to subdomain here)*@><i class="fa fa-search"></i></a> -->
                            <a class="dmbutton a2" data-animate="fadeInUp" @Html.ActionLink("Project Details", "DungeonCrawler", "Projects")</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

            <div class="portfolio-item books">
                <div class="he-wrap tpl6">
                    <img src="~/Content/img/image-placeholder-500x500.jpg" alt="Image of portfolio piece number 5 with link to more details">
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Project</h3>
                            <!--    <a class="dmbutton a2" data-animate="fadeInUp" @*@Html.ActionLink(link to subdomain here)*@><i class="fa fa-search"></i></a> -->
                            <a class="dmbutton a2" data-animate="fadeInUp" @Html.ActionLink("Project Details", "DungeonCrawler", "Projects")</a>
                        </div>
                        <!-- he bg -->
                    </div>
                    <!-- he view -->
                </div>
                <!-- he wrap -->
            </div>
            <!-- end col-12 -->

        </div>
        <!-- portfolio -->
    </div>
    <!-- portfolio container -->
    <div class="clear"></div>
</div>
